<ul>
    <li>
        <a href="javascript:void(0);">Anagrafiche</a>
        <ul>
            <li><a href="/elenco_persone">Elenco</a></li>
            <li><a href="/nuova_persona">Nuova anagrafica</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);">Etichette</a>
        <ul>
            <li><a href="/elenco_etichette">Elenco</a></li>
            <li><a href="/nuova_etichetta">Nuova etichetta</a></li>
        </ul>
    </li>
    <li>
	    <a href="/form_stampa/elenco">Stampa elenco</a>
    </li>
    <li>
	    <a href="/stampa_rubrica">Stampa rubrica</a>
    </li>
    <li>
	    <a href="/form_stampa/etichette">Stampa etichette</a>
    </li>
    <li>
	    <a href="/logout">Esci</a>
    </li>
</ul>
